{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <base href="/">

    <title>Платформа - Новости национальных проектов</title>
    <meta name="description"
          content="Новости Костромы проведение мероприятий новости ДОУ обзоры конкурсов новые проекты презентации кукол в национальных костюмах">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Template Basic Images Start -->
    <meta property="og:image" content="/img/platforma.jpg">
    <link rel="icon" href="img/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <!-- Template Basic Images End -->

    <!-- Custom Browsers Color Start -->
    <meta name="theme-color" content="#202225">
    <link type="text/css" href="{% static 'news/css/main.min.css' %}" rel="stylesheet"/>
    <script data-ad-client="ca-pub-6245028654247092" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>


<body class="ishome">
<header class="top-line">
    <a href="/" class="logo logo-litera">ПЛАТФОРМА</a>

    <div class="search-wrap">
        <div class="search" title="Поиск по сайту...">
            <div class="fa fa-search"></div>
        </div>
        <div class="search-field">
            <form action="/search.html" id="cse-search-box">
                <input type="hidden" name="cx" value="partner-pub-01b50b6fe29f6d024"/>
                <input type="hidden" name="cof" value="FORID:10"/>
                <input type="hidden" name="ie" value="UTF-8"/>
                <input type="text" name="q" placeholder="Поиск по сайту..."/>

            </form>
        </div>
    </div>

    {% block mainmenu %}
    <div class="mobile-menu-button"><i class="fa fa-bars"></i>Меню</div>
    <nav class="main-menu top-menu">
        <ul>
            {% for m in menu %}

            {% if not forloop.last %}

            <li><a href="#">{{m.title}}</a></li>

            {% else %}

            <li class="last"><a href="#">{{m.title}}</a></li>

            {% endif %}

            {% endfor %}
        </ul>
    </nav>
    {% endblock mainmenu %}


    <section class="first-section clearfix">

        <div class="container-fluid">

            <div class="ad top-ad">

                <div class="row no-gutters">


                    <div class="col-md-6">

                        <div class="pattern">


                            <div class="overlay item-title"
                                 style="background-image: url(images/events/2023/2023-01-14-festival-konkurs/1t.jpg)">
                                {% block content %}
                                {% endblock %}
                                <div class="item-title-content">

                                    <div class="item-social">


                                        <div class="item-comments" title="Количество комментариев">


                                            <i class="fa fa-comments"></i><a
                                                href="/blog/events/2023-01-14-festival-konkurs.html#disqus_thread"
                                                class="item-comments-count"></a>

                                        </div>

                                        <div class="fa fa-share-alt" title="Поделиться в соц. сетях"></div>

                                        <div class="likely likely-custom"
                                             data-url="http://platforma44.ru/blog/events/2023-01-14-festival-konkurs.html"
                                             data-media="http://platforma44.ru/images/events/2023/2023-01-14-festival-konkurs/1.jpg"
                                             data-title="Всероссийский фестиваль - конкурс «ТЕАТРАЛЬНАЯ ЭТНО - ВЕСНА»">
                                            <div class="vkontakte" title="Поделиться Вконтакте">Вконтакте</div>

                                            <div class="facebook" title="Поделиться в Facebook">Facebook</div>

                                            <div class="twitter" title="Поделиться в Twitter">Twitter</div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>

    {% block footer %}
    {% endblock footer %}
    <footer class="main-footer">
        <div class="contaiter">

            <nav class="main-menu footer-menu">
                <ul>
                    {% for m in menu %}

                    {% if not forloop.last %}

                    <li><a href="#">{{m.title}}</a></li>

                    {% else %}

                    <li class="last"><a href="#">{{m.title}}</a></li>

                    {% endif %}

                    {% endfor %}
                </ul>
            </nav>

            <nav class="soc">
                <ul>
                    <li><a href="#"><i class="fa fa-vk"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-odnoklassniki"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="rss.xml"><i class="fa fa-rss"></i></a></li>
                </ul>
            </nav>

        </div>
    </footer>
    <footer class="bottom-footer">
        <div class="container text-center">
            <div class="footer-copy">2023 © <span class="logo-footer logo-litera">Платформа</span></div>
            <p>Копирование контента и размещение на других сайтах запрещено.</p>
        </div>
    </footer>

    <script src="js/scripts.min.js"></script>

    <script id="dsq-count-scr" src="//platforma44-ru-3.disqus.com/count.js" async></script>

    <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->

    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>
    <script type="text/javascript">
	VK.Widgets.Group("vk_groups", {mode: 0, width: 'auto', height: '300', color2: '202222', color3: '202222'}, -496537474);



    </script>
</body>
</html>