{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'news/css/main.min.css' %}" rel="stylesheet"/>
    <script data-ad-client="ca-pub-6245028654247092" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body>

    {% block mainmenu %}

    {% endblock mainmenu %}


    {% block content %}

    {% endblock %}


    <script src="js/scripts.min.js"></script>
       <script id="dsq-count-scr" src="//platforma44-ru-3.disqus.com/count.js" async></script>
               <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>
	      <script type="text/javascript">
	   VK.Widgets.Group("vk_groups", {mode: 0, width: 'auto', height: '300', color2: '202222', color3: '202222'},
	 -496537474);
	</script>

</body>
</html>